.page-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;

}
.user-profile-container{
  z-index:1000;
  width:85%;
  height:80%;
  position:absolute;
  background-color:white;
  border:1px solid black;
  display:grid;
  display: none;
  right:8%;
  bottom:8%;
}
.user-profile-sub-container{
  display: grid;
  justify-content: center;
}
.show-element{
  display:initial;
}


.user-list-container{
 position: relative;
}
.user-list-main-container{
  overflow: hidden;
}

.user-list-sub-container{
  height: 60vh;
  width: 50vh;
    border: 1px solid black;
    overflow-y: scroll;
    flex-wrap: wrap;
    background-color: rgb(244, 238, 238);
    padding: 32px;
    
    border-radius: 9px;
    
}
.profile-upload-form{
  display: flex;
}
input[type="file"] {
  display: none;
  width: 60px;
}
.profile-upload-label{
  border: 1px solid #ccc;
  display: flex;
  padding: 2px;
  
  cursor: pointer;

}
.user-status{
  display: flex;
width: 100%;
justify-content: center;
align-items: center;
  
}

.profile-pic-image-container{
  float: left;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  
 
}
.profile-pic-image-container>img{
  height: 100%;
  width: 100%;
}
.user-status>.user-info{
 display: flex;
 align-items: center;
  margin: 0;
  padding: 0;
    width: 100%;
  text-align: center;
    padding: 10px;
    padding: 8px;
position: relative;
    cursor: pointer;
    margin: 2px;
    box-shadow: 0px 1px black;
   
    
}
.offline-or-online-status{
background-color: red;
margin-left: 4px;
width: 18px;
height: 18px;
float: right;
border-radius: 24px;

}


a:link ,a:visited,a:hover,a:hover,a:active {
  color: black;
  text-align: right;
  
}






 
/*css of sidebar in user.php*/
*{
    margin: 0px;
  }
  .blur-Background{
    background-color: rgb(206, 199, 199);
   
  }
  
  .sidebar-main-container{
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1000;
  }
  .container{
    background-color: white;
  position: absolute;
  padding: 10px;
  left: 0px;
  display: none;
  margin-top: 30px;
   
  ;
  }
  .js-container.container{
  display: initial;
  
  }
  .animation-1{
    animation: slide-out 0.5s ease-out ;
  }
  
  
  @keyframes slide-out {
    0% {
      left: -100px;
    }
    
    100% {
      left: 0px;   
    }
  }
  
  
  .sub-container{
    margin-top: 20px;
    padding: 10px;
  }
  .main-Button{
    width: 24px;
    height: 24px;
       padding: 4px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        cursor: pointer;
        
    
  }
  .close-Button{
    height: 20px;
    width: 20px;
    background: transparent;
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 20px;
    border: none;
     padding:1px;
     cursor: pointer;
  }
  .option>div{
  width: 20px;
  height: 20px;
  margin-right: 8px;
  }
  
  .option{
    
    width: 100px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgb(245, 241, 241);
  cursor: pointer;
  
  }
  .option:hover{
    background-color: rgb(212, 208, 208);
  }
  
  .sidebar-image{
    width: 100%;
    height: 100%;
    background: transparent;
  }